<div class="flex self-start m-8">
  <table class="prose">
    <thead>
      <tr>
        <td>Name</td>
        <td>Item</td>
        <td>Command</td>
        <td>Texture</td>
      </tr>
    </thead>
    <tbody>
      <% @item_models.each do |model| %>
        <tr data-controller="clipboard">
          <td><%= model["name"] %></td>
          <td><%= model["parent"] %></td>
          <td class="flex items-center gap-2"><input class="bg-gray-700 text-white p-1 rounded-sm font-mono" data-clipboard-target="source" size="32" value="/trigger CustomModelData set <%= model["uid"] %>" readonly ><button data-action="clipboard#copy"><%= image_tag "copy", size: "26x26" %></button></td>
          <td><%= image_tag(model["path"], size: "64x64", style: "image-rendering: optimizeSpeed; image-rendering: pixelated; margin: 0px;") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="flex flex-col gap-2">
    <%= link_to "New Item", new_dashboard_path, class: "mx-8 p-4 bg-blue-600 text-white rounded"%>
    <%= link_to "Download Pack", download_dashboard_index_path, class: "mx-8 p-4 bg-green-600 text-white rounded"%>
  </div>
</div>
