<main class="bg-blue-100 rounded">
    <div class="flex flex-col gap-4 p-4">
        <h1 class="text-3xl">Welcome to the Texture Uploader!</h1>
        <%= render "form" %>
        <%= render "select" %>
        <p>Selected item: <%= @selected_item %></p>
        <div class="flex justify-center h-80 w-full overflow-y-scroll">
            <%= render "items", items: @items %>
        </div>
        <p><%= @models %></p>
    </div>
</main>